
#articleListContainer {
    text-decoration: none;
    padding: 5px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: lightgray;
}

.ArticleGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.home-article-list {
    text-decoration: none;
    display: grid;
    gap: 20px;
}

.article-container {
    text-decoration: inherit;
    padding: 5px;
    padding-bottom: 8px;
    border-radius: 1px;
    background-color: lightblue;
    text-align: left;
}

.article-name {
    text-decoration: inherit;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: rgb(64, 64, 64);
}

.article-subtitle {
    margin: 0;
}

a {
    text-decoration: none;
}